@import "tailwindcss";

.input {
  @apply w-full border border-slate-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

.field-item:active {
  transform: scale(0.98); /* Hiệu ứng nhấn */
}

@layer utilities {
  /* Slide-in from right */
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.4s ease-out both;
  }

  /* Fade-in from top */
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-5%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.2s ease-out both;
  }
}

